*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url(blog.jpg);
    background-position: center;
    background-size: cover;
    object-fit: cover;
    display: grid;
    place-items: center;
    min-height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}
.loginwrapper{
    background-color: #ddd;
    width: 410px;
    height: 480px;
    border: 2px solid #000;
    border-radius: 5px;
}
form h2{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 20px;
}
form .input-group input{
    display: block;
    margin: 30px auto;
    width: 90%;
    height: 47px;
    border: 1px solid rgba(0, 0, 0.4);
    border-radius: 4px;
}
form .input-group label{
    display: none;
}
::placeholder{
    padding: 5px;
}
form .inputbox select{
    width: 90%;
    height: 47px;
    border: 1px solid rgba(0, 0, 0.8);
    border-radius: 4px;
}
form .login{
    text-decoration: underline;
    color: blue;
    margin: 16px;
}

form .submit-btn{
    background: rgba(60, 120, 200);
    width: 200px;
    border-radius: 20px;
    height: 30px;
    border: transparent;
    color: #fff;
    font-size: 15px;
    transition: 1s;
}
form .submit-btn:hover{
    transform: scale(1.2);
}